!shell.nix
.DS_Store
*.pyc
*.ll
*.loops
llvm-pass/build/
synthesisLogs/
tests/struct1.rkt
tests/struct1.smt
tests/uninterp.rkt
tests/uninterp.smt
results*.csv
search*.csv
distribution*.png
dist/
rosette-packages/
nixos.qcow2
.vscode/
.venv/
