!shell.nix
.DS_Store
*.pyc
# *.ll
# *.loops
tests/**/*.ll
tests/**/*.loops
llvm-pass/build/
synthesisLogs/
tests/struct1.rkt
tests/struct1.smt
tests/uninterp.rkt
tests/uninterp.smt
results*.csv
search*.csv
distribution*.png
dist/
rosette-packages/
nixos.qcow2
.vscode/
.venv/
.3.9venv/
tenspiler/data/
*.o
*_O3
vicuna_weight_sampled.h5
data_sampled/
vicuna_weight7b_sampled.h5
vicuna_weight.h5
data/
vicuna_weight7b.h5
build/
