!shell.nix
.DS_Store
*.pyc
llvm-pass/build/
synthesisLogs/
tests/*.ll
tests/*.loops
crdt_tests/*.ll
crdt_tests/*.loops
tests/struct1.rkt
tests/struct1.smt
tests/uninterp.rkt
tests/uninterp.smt
results*.csv
search*.csv
distribution*.png
dist/
rosette-packages/
nixos.qcow2
.vscode/