#!/bin/bash

# customize this template file and rename it to runSketch.sh

if [ "$#" -ne 2 ]; then
  echo "usage: runSketch.sh <path to parseSketchOutput.jar> <sketch file name>"
  exit 1
fi

# /usr/bin is needed for 'which' and 'dirname' (sketch uses those commands)

PATH=(echo $PATH):/usr/bin:<path to sketch-frontend directory> \
<sketch command> --fe-custom-codegen "$1" --bnd-inbits 2 "$2"
