name: Metalift CI

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
        with:
           black_args: --check --diff .
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Dependencies
        run: pip install mypy
      - name: Run mypy
        run: mypy .
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: "recursive"

    - name: Cache install Nix packages
      uses: rikhuijzer/cache-install@v1.0.8
      with:
        key: nix-${{ hashFiles('ci.nix') }}-${{ hashFiles('cvc5.nix') }}
        nix_file: 'ci.nix'

    - name: Install Racket
      uses: Bogdanp/setup-racket@v1.7
      with:
        architecture: 'x64'
        distribution: 'full'
        variant: 'CS'
        version: 'stable'

    - name: Install Rosette
      run: raco pkg install --auto rosette

    - name: Build LLVM Pass
      run: |
        cd llvm-pass
        mkdir build
        cd build
        nix-shell -p llvm_11 --run "cmake .."
        nix-shell -p llvm_11 --run "make"
        cd ..

    - name: Build llvmlite
      run: |
        cd llvmlite
        nix-shell -p llvm_11 --run "python setup.py build"
        cd ..

    - name: Build Test Inputs
      run: |
        cd tests
        ./compile-all
        cd ..

    - name: Test Core Examples
      run: |
        python -m tests.count
        python -m tests.fma_dsl
        python -m tests.ite1
        python -m tests.ite3
        python -m tests.list1
        python -m tests.list1_fns
        python -m tests.set1
        python -m tests.tuples1
        python -m tests.tuples2
        python -m tests.tuples3
        python -m tests.uninterp
        python -m tests.while3
        python -m tests.while4
        python -m tests.struct1

    - name: Test Actor Examples
      run: |
        python -m tests.actor1_g_set synth tests/actor1.ll test tests/actor1.loops cvc5
        python -m tests.actor1_2p_set synth tests/actor1.ll test tests/actor1.loops cvc5
        python -m tests.actor2 synth tests/actor2.ll test tests/actor2.loops cvc5
